@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Work+Sans:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

$body-color: #1a140d;
$body-font-family: "Open Sans", "Arial", sans-serif;
$title-font-family: "PT Serif", serif;

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  height: 100%;
  width: 100%;
  line-height: 1;
  font-family: $body-font-family;
  color: $body-color;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-image: url(./assets/general-back.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow-y: auto;
}

.main {
  width: 100%;
  min-height: 100vh;
  position: relative;
}

.form-container {
  max-width: 50rem;
  max-height: 40rem;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #425a65;
}
.form-section {
  position: relative;
  max-width: 36rem;
  max-height: 33rem;
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  padding: 40px;
  color: #111111;
  border-radius: 0.5rem;
}
.form-wrapper {
  width: 100%;
  height: 100%;
  max-height: 25rem;
  padding-top: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.form {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form-title {
  text-align: center;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: -0.3px;
  font-family: $title-font-family;
}
.form-group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 2.625rem;
  label {
    color: #7C7C7C;
    text-transform: uppercase;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: 300;
    font-size: 14px;
    min-height: 15px;
  }
  .input,
  .textarea {
    font-size: 0.875rem;
    line-height: 1rem;
    font-family: $body-font-family;
    font-weight: 400;
    border: none;
    border-bottom: 2px solid;
    border-image: linear-gradient(to right, #093f1c, #07e130);
    border-image-slice: 1;
    outline: none;
    background: inherit;
    text-overflow: ellipsis;
    max-width: 100%;
  }
  .input.error-field,
  .textarea.error-field {
    color: #FF2222;
    border-bottom: 2px solid #FF2828;
    border-image: none;
    padding-bottom: 4.2px;
   }
  .textarea {
    min-height: 70px;
  }
  .input::placeholder,
  .textarea::placeholder {
    color: #111111;
  }
}
input[type="submit"],
.btn-close {
  font-family: $title-font-family;
  max-width: 170px;
  width: 100%;
  margin: 0 auto;
  min-height: 40px;
  background-image: linear-gradient(90deg, #08712d, #02b123);
  color: #fff;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  &:hover {
    background: #02b123;
  }
  &:active {
    background: #08712d;
  }
}
.btn-close {
  display: block;
}
.details {
  max-width: 150px;
  border: none;
  cursor: pointer;
  min-height: 25px;
  color: #5b2828;
  background: none;
  &:hover {
    border-radius: 2px;
    background-color: #c1f7c0;
    transition: 0.2s;
  }
  &:active {
    background-color: #76b175;
  }
}
.error-wrapper {
  position: absolute;
  margin-top: 42px;
}
.error {
  font-size: 10px;
  color: #FF2222;
}
.hidden {
  display: none;
}
.item4 {
  flex-grow: 0.4;
  gap: 1rem;
}
.popup {
  position: relative;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
}
.opening {
  animation: fadeIn 0.2s ease-in forwards;
}
.closing {
  animation: fadeOut 0.2s ease-in forwards;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
    visibility: visible;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
.overlay {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #76b175db;
  z-index: 1;
  .popup-container {
    position: relative;
    margin: 0 auto;
    top: 25%;
    min-height: 300px;
    max-width: 465px;
    background-color: #fff;
    padding-top: 15px;
    .popup-title {
      text-align: center;
      font-size: 22px;
      padding-bottom: 1rem;
    }
    ul li {
      padding-bottom: 1rem;
    }
  }
}
